<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" href="/styles/pico.css" />
    <link rel="stylesheet" href="/styles/chat.css" />
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/lobby.js" defer></script>
  </head>
  <body>
    <nav class="container">
      <ul>
        <li>Jrob's Game</li>
      </ul>
      <ul>
        <li><a href="/">Landing</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/lobby">Lobby</a></li>
      </ul>
    </nav>
    <main class="container">
      <h1>Lobby</h1>

      <div class="grid">
        <div>
          <h2>Current Games</h2>
          <section id="my-game-list" data-user="<%= user.id %>">
            <ul>
              <% if(currentGames !== undefined && currentGames.length > 0) { %>
              <% currentGames.forEach(game => { %>
              <li>
                <a href="/games/<%= game.game_id %>"
                  >Return to <%= game.game_id %></a
                >
              </li>
              <% })} else { %>
              <p>You are not playing any games yet.</p>
              <% } %>
            </ul>
          </section>

          <h2>Available Games</h2>
          <section id="game-list">
            <ul>
              <% availableGames.forEach(game => { %>
              <li>
                <a href="/games/<%= game.game_id %>/join"
                  >Join <%= game.game_id %></a
                >
              </li>
              <% }) %>
            </ul>
          </section>

          <template id="join-game-entry">
            <li>
              <a href=""></a>
            </li>
          </template>

          <form action="/games/create" method="get">
            <button type="submit">Create Game</button>
          </form>
        </div>

        <%- include('partials/chat', { roomId: 0 }) %>
      </div>
    </main>
  </body>
</html>
